Repository Chrede88/L1nkr, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/exampleSite, area/github, area/css, area/html, area/lighthouse, area/static

.github/labeler.yaml:

area/exampleSite:
  - "exampleSite/**/*"
area/github:
  - ".github/**/*"
area/css:
  - "assets/css/**/*"
area/html:
  - "layouts/**/*"
area/lighthouse:
  - "lighthouse/**/*"
area/static:
  - "static/**/*"

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:adhesive_bandage: changing tooltip behaviour
  assets/css/compiled/main.css
  assets/css/main.css
Labels: area/css

:bookmark: preparing release v1.5.1
  CHANGELOG.md
  assets/css/compiled/main.css
  assets/css/main.css
  package.json
Labels: area/css

:vertical_traffic_light: updating lighthouse hadges
  lighthouse/chrede88_github_io_l1nkr_.html
Labels: area/lighthouse

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
  .github/workflows/buildDeployLighthouse.yml
  .github/workflows/testBuild.yml
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
  .github/workflows/buildDeployLighthouse.yml
  .github/workflows/testBuild.yml
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:wrench: updating renovate config
  .github/renovate.json
Labels: area/github

:bookmark: preparing release v1.5.2
  CHANGELOG.md
  assets/css/compiled/main.css
  assets/css/main.css
  package.json
Labels: area/css

:memo: fixing changelog
  CHANGELOG.md
Labels: none

:wrench: updateing renovate config
  .github/renovate.json
Labels: area/github

:wrench: updateing renovate config
  .github/renovate.json
Labels: area/github

:bookmark: preparing release v1.5.3
  CHANGELOG.md
  assets/css/compiled/main.css
  assets/css/main.css
  package.json
Labels: area/css

:zap: new icon text feature
  README.md
  assets/css/compiled/main.css
  assets/css/main.css
  assets/icons/apple.svg
  assets/icons/codepen.svg
  assets/icons/discord.svg
  assets/icons/gitlab.svg
  assets/icons/instagram.svg
  assets/icons/keybase.svg
  assets/icons/mastodon.svg
  assets/icons/snapchat.svg
  assets/icons/soundcloud.svg
  assets/icons/x-twitter.svg
  assets/icons/youtube.svg
  exampleSite/config/_default/params.yaml
  images/hovereffect.gif
  images/screenshot.png
  images/tn.png
  layouts/index.html
Labels: area/exampleSite, area/css, area/html

:memo: update README
  README.md
Labels: none

:bookmark: preparing release v1.6.0
  CHANGELOG.md
  assets/css/compiled/main.css
  assets/css/main.css
  package.json
Labels: area/css

:vertical_traffic_light: updating lighthouse badges
  lighthouse/chrede88_github_io_l1nkr_.html
Labels: area/lighthouse

:wrench: fixing username in go.mod
  exampleSite/go.mod
  go.mod
Labels: area/exampleSite

:wrench: updating exampleSite config
  exampleSite/config/_default/hugo.yaml
Labels: area/exampleSite

:bookmark: preparing release v1.7.0
  CHANGELOG.md
  assets/css/compiled/main.css
  assets/css/main.css
  package.json
Labels: area/css

:vertical-traffic-light: updating lighthouse badges
  lighthouse/chrede88_github_io_l1nkr_.html
Labels: area/lighthouse

:zap: new mono color option
  assets/css/compiled/main.css
  assets/css/main.css
  exampleSite/config/_default/params.yaml
  layouts/index.html
  tailwind.config.js
Labels: area/exampleSite, area/css, area/html

:wrench: tweaking monochromatic color scheme option
  README.md
  exampleSite/config/_default/params.yaml
  layouts/index.html
Labels: area/exampleSite, area/html

:bookmark: preparing release v1.8.0
  CHANGELOG.md
  assets/css/compiled/main.css
  assets/css/main.css
  images/screenshot.png
  images/tn.png
  package.json
Labels: area/css

:memo: updating README
  README.md
Labels: none

:memo: updating README
  README.md
Labels: none

:label: adding issue label
  .github/labels.yaml
Labels: area/github

:art: adding issue label
  .github/labels.yaml
Labels: area/github
